App_WebReferences/wsOpenBank_ACCESSv2/ACCESS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Banca_ValidarAccesoFormaOB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Modulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Forma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_ValidarAccesoFormaOBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Banca_ValidarAccesoFormaOBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Banca_ValidarAccesoInsertarFormaOB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Modulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Forma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_ValidarAccesoInsertarFormaOBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Banca_ValidarAccesoInsertarFormaOBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_ValidarAccesoHabilitarFormaOB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Modulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Forma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_ValidarAccesoHabilitarFormaOBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Banca_ValidarAccesoHabilitarFormaOBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_AutenticarUsuarioOB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Banca_AutenticarUsuarioOBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Banca_AutenticarUsuarioOBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Banca_ValidarAccesoFormaOBSoapIn">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoFormaOB" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoFormaOBSoapOut">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoFormaOBResponse" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoFormaOBAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoInsertarFormaOBSoapIn">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoInsertarFormaOB" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoInsertarFormaOBSoapOut">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoInsertarFormaOBResponse" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoInsertarFormaOBAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoHabilitarFormaOBSoapIn">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoHabilitarFormaOB" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoHabilitarFormaOBSoapOut">
    <wsdl:part name="parameters" element="tns:Banca_ValidarAccesoHabilitarFormaOBResponse" />
  </wsdl:message>
  <wsdl:message name="Banca_ValidarAccesoHabilitarFormaOBAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="Banca_AutenticarUsuarioOBSoapIn">
    <wsdl:part name="parameters" element="tns:Banca_AutenticarUsuarioOB" />
  </wsdl:message>
  <wsdl:message name="Banca_AutenticarUsuarioOBSoapOut">
    <wsdl:part name="parameters" element="tns:Banca_AutenticarUsuarioOBResponse" />
  </wsdl:message>
  <wsdl:message name="Banca_AutenticarUsuarioOBAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="ACCESSSoap">
    <wsdl:operation name="Banca_ValidarAccesoFormaOB">
      <wsdl:input message="tns:Banca_ValidarAccesoFormaOBSoapIn" />
      <wsdl:output message="tns:Banca_ValidarAccesoFormaOBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoInsertarFormaOB">
      <wsdl:input message="tns:Banca_ValidarAccesoInsertarFormaOBSoapIn" />
      <wsdl:output message="tns:Banca_ValidarAccesoInsertarFormaOBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoHabilitarFormaOB">
      <wsdl:input message="tns:Banca_ValidarAccesoHabilitarFormaOBSoapIn" />
      <wsdl:output message="tns:Banca_ValidarAccesoHabilitarFormaOBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Banca_AutenticarUsuarioOB">
      <wsdl:input message="tns:Banca_AutenticarUsuarioOBSoapIn" />
      <wsdl:output message="tns:Banca_AutenticarUsuarioOBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ACCESSSoap" type="tns:ACCESSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Banca_ValidarAccesoFormaOB">
      <soap:operation soapAction="http://tempuri.org/Banca_ValidarAccesoFormaOB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Banca_ValidarAccesoFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoInsertarFormaOB">
      <soap:operation soapAction="http://tempuri.org/Banca_ValidarAccesoInsertarFormaOB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Banca_ValidarAccesoInsertarFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoHabilitarFormaOB">
      <soap:operation soapAction="http://tempuri.org/Banca_ValidarAccesoHabilitarFormaOB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Banca_ValidarAccesoHabilitarFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_AutenticarUsuarioOB">
      <soap:operation soapAction="http://tempuri.org/Banca_AutenticarUsuarioOB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Banca_AutenticarUsuarioOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ACCESSSoap12" type="tns:ACCESSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Banca_ValidarAccesoFormaOB">
      <soap12:operation soapAction="http://tempuri.org/Banca_ValidarAccesoFormaOB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Banca_ValidarAccesoFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoInsertarFormaOB">
      <soap12:operation soapAction="http://tempuri.org/Banca_ValidarAccesoInsertarFormaOB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Banca_ValidarAccesoInsertarFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_ValidarAccesoHabilitarFormaOB">
      <soap12:operation soapAction="http://tempuri.org/Banca_ValidarAccesoHabilitarFormaOB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Banca_ValidarAccesoHabilitarFormaOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Banca_AutenticarUsuarioOB">
      <soap12:operation soapAction="http://tempuri.org/Banca_AutenticarUsuarioOB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Banca_AutenticarUsuarioOBAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACCESS">
    <wsdl:port name="ACCESSSoap" binding="tns:ACCESSSoap">
      <soap:address location="http://172.28.28.5:8090/ACCESS.asmx" />
    </wsdl:port>
    <wsdl:port name="ACCESSSoap12" binding="tns:ACCESSSoap12">
      <soap12:address location="http://172.28.28.5:8090/ACCESS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>